$fontsize:12px;
$fontsize-1: 14px;
$fontsize-2: 16px;
$fontsize-3: 20px;
$fontsize-4: 24px;
$fontsize-5: 36px;
$fontsize-6: 48px;
$fontsize-7: 64px;

$fontfamily: "Inter", sans-serif;


$color-1: white;
$color-2: black;
$color: #5A5B6A;
$color-3: #2264D1;
$background: #EDEDF0;

// $background-1: rgba(200,154,252,1), rgba(124,106,250,1);

// $background-2: rgba(223, 89, 80, 1), rgba(69, 16, 70, 1);
// $background-3: #020202;


@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
:root {
    --main-bg: #EEEEEE;
    --menu-bg: #17C0EB;
    --menu-font-color: #FFFFFF;
    --menu-border: #25d3ff;
    --menu-bg-selected: #333333;
    --menu-bg-hover: #52dcff;
    --menu-bg-selected-chevron: #3cac1a;
}



@import "style1";
@import "media";
@import "style2";
@import "style3";